{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
 <div class="container">
    <div>
            <center>
                <br><br>
            <h2>{{g.user.profile.firstName}}'s Dashboard</h2></center>
    </div>
        <left><h5><br><br>Upcoming Primaries</h5></left>

<div class="jumbotron">
      <table class="table">
    <thead>
        <tr>

            <th style="width: 33.33333%">Date <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">State <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Delegates <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
        <tr>
    </thead>
    <tbody>
        {% for primary in upcoming_primaries %}

        <tr>
            <td>{{ primary.date }}</td>
            <td>{{ primary.state }}</td>
            <td>{{ primary.delegates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


        <br><br><br>
        <left><h5>Player Standings</h5></left>
     <div class="jumbotron">
        <table class="table">
    <thead>
        <tr>
            <th style="width: 33.33333%">Username <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Votes <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Delegates <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
        <tr>
    </thead>
    <tbody>

        {% for person in people %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.votes }}</td>
            <td>{{ person.delegates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
     </div>


        <br><br><br>
        <left><h5>Candidate Standings</h5></left>
     <div class="jumbotron">
        <table class="table">
    <thead>
        <tr>
            <th style="width: 33.33333%">Name <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Votes <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Delegates <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
        <tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.popular_vote }}</td>
            <td>{{ candidate.delegates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
     </div>


        </div>
    </div>
{% endblock %}



