{% extends "bootstrap/base.html" %}
{% block title %}Fantasy Primaries{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
            <center><h1>Fantasy Primaries</h1>
            <h2>'Username' Dashboard</h2></center>
        <left><h3><br><br><br>Upcoming Primaries</h3></left>


        <table class="table">
    <thead>
        <tr>

            <th style="width: 33.33333%">Date <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">State <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Delegates <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
        <tr>
    </thead>
    <tbody>
        {% for primary in upcoming_primaries %}

        <tr>
            <td>{{ primary.date }}</td>
            <td>{{ primary.state }}</td>
            <td>{{ primary.delegates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


        <br><br><br>
        <left><h3>Player Standings</h3></left>
        <table class="table">
    <thead>
        <tr>
            <th style="width: 33.33333%">Username <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Votes <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Delegates <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
        <tr>
    </thead>
    <tbody>

        {% for person in people %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.votes }}</td>
            <td>{{ person.delegates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


        <br><br><br>
        <left><h3>Candidate Standings</h3></left>
        <table class="table">
    <thead>
        <tr>
            <th style="width: 33.33333%">Name <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Votes <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
            <th style="width: 33.33333%">Delegates <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"><i class="fa fa-fw fa-sort"></i></th>
        <tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.popular_vote }}</td>
            <td>{{ candidate.delegates }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


        </div>
    </div>
{% endblock %}